@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "reset.css";
@import "header.css";
@import "menu.css";
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Montserrat", sans-serif;
}
div {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}
